* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/gilroy-bold/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("./assets/gilroy-bold/Gilroy-Medium.ttf") format("truetype");
}

button {
  cursor: pointer;
}

h1 {
  font-family: "Gilroy-Bold", sans-serif;
}

body {
  background: linear-gradient(
    180deg,
    #fff8f8 0%,
    #fff8f8 20%,
    #ffffff 20%,
    #ffffff 100%
  );
  backdrop-filter: blur(700px);
  font-family: "Gilroy-Medium", sans-serif;
  /* min-height: 100vh; */
  position: relative;
}

.nav {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: "Gilroy-Medium", sans-serif;
}

.nav div {
  display: flex;
  align-items: center;
  height: inherit;
  cursor: pointer;
}

.nav .middle {
  justify-content: space-around;
  width: 40%;
  font-size: 18px;
  color: #141414;
}

.nav .end-right {
  justify-content: center;
  gap: 24px;
}

.special {
  color: #0065fe;
}

.special.two {
  color: #005ae2;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 106px;
  text-align: center;
}

.flex {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.it {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 32px;
  gap: 56px;
  padding-bottom: 52px;
}

.sectionOne > div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}

.image2 {
  background: linear-gradient(to right, #e8ebff 15%, #ffffff 100%);
  border-radius: 24px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  position: relative;
  overflow: hidden;
}

.image2::after {
  content: "";
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(50%);
  width: 40%;
  height: 140%;
  background: linear-gradient(
    180deg,
    rgba(232, 235, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  z-index: 2;
}

.image2 img[src*="arrow"] {
  color: #0065fe;
}

.image1 {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  z-index: 0;
  width: 100%;
}

.flex img {
  width: 170px;
  margin-top: -20px;
  position: relative;
}

.sectionOne h1 {
  line-height: 96px;
  font-size: 48px;
  width: 75%;
}

.sectionOne h1 special {
  display: flex;
  width: auto;
}

.paragraph {
  font-size: 18px;
  line-height: 28px;
}

.sectionOne .paragraph {
  width: 781px;
  padding: 12px;
  font-family: "Gilroy-medium", sans-serif;
}

.login {
  height: 44px !important;
  width: 142px;
  background-color: #0065fe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}

.image3 {
  height: 93px;
  width: 100%;
}

.sectionTwo {
  background-color: #f9fbfd;
  height: 220px;
  display: flex;
  align-items: center;
  gap: 120px;
}

.sectionTwo .first.div {
  font-size: 40px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 25px;
}

.sectionTwo .second.div {
  width: 60%;
  display: flex;
  gap: 65px;
}

.sectionTwo .second.div div {
  width: auto;
}

.sectionTwo .second.div div p {
  font-size: 14px;
}

.sectionThree {
  background: white;
  padding: 120px 75px;
  display: flex;
  gap: 96px;
  width: 100%;
}

.sectionThree div h1 {
  font-size: 40px;
  width: 100%;
}

.sectionThree div p {
  font-size: 16px;
}

.firstOfThree {
  width: 45%;
}

.firstOfThree div {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: flex-start;
}

.pass img {
  padding-top: 10px;
}

.SecondOfThree > div {
  width: 340px;
}

.SecondOfThree {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.SecondOfThree div img {
  padding-bottom: 40px;
}

.SecondOfThree div h2 {
  padding-bottom: 16px;
}

.SecondOfThree div p {
  line-height: 28px;
  font-size: 16px;
}

.spec {
  padding-top: 64px;
}

.sectionFour {
  padding-top: 130px;
  padding-bottom: 68px;
  text-align: center;
  gap: 8px;
}

.sectionFour div {
  display: flex;
  font-size: 40px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.sectionFour p {
  color: #141414;
}

.sectionFive {
  display: flex;
  height: 630px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 330px;
  margin-bottom: 68px;
}

.group {
  width: 379px;
  height: 455px;
  border-radius: 12px;
  border: 0.4px solid #005ae2;
  box-shadow: 0px 4px 8px 0px #0000000d;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 24px;
  padding-bottom: 45px;
}

.group h3,
.center .center-text h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 24px;
}

.group h1,
.center .center-text h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  padding-bottom: 8px;
  width: 100%;
}

.group .group-p,
.center .center-text .center-text-p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

.group ul,
.center ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.group ul li,
.center ul li {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

aside {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  gap: 12px;
  margin-bottom: 112px;
}

aside button {
  height: inherit !important;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}

aside .left {
  border: 1px solid #0065fe;
  background-color: white;
  color: #0065fe;
}

.right {
  background-color: #0065fe;
  border: none;
}

.center {
  position: absolute;
  width: 379px;
  top: 0;
  height: 630px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px #0000000d;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

#nav-toggle {
  display: none;
}

.sectionSix {
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 523px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 42px;
  width: 476px;
  height: 355px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-text {
  height: 55px !important;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #3284ff;
  outline: #3284ff;
}

.input-text::placeholder {
  color: #3284ff;
}

.box div {
  display: flex;
  gap: 12px;
}

.box button {
  height: 48px;
  border-radius: 100px;
  border: none;
  background-color: #005ae2;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.box p {
  font-size: 14px;
  line-height: 20px;
  color: #3284ff;
}

select {
  color: #3284ff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%233284ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
  padding-right: 30px;
}

select::-ms-expand {
  display: none;
}

.sectionSeven {
  background-image: url("./assets/background2.svg");
  height: 1153px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topper {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 52px;
  padding-bottom: 62px;
}

.topper h1 {
  font-size: 40px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 20px;
    position: relative;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: block;
    z-index: 2;
  }

  .middle,
  .end-right {
    position: fixed;
    top: 90px;
    right: -100%;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

  .middle {
    gap: 20px;
  }

  .end-right {
    top: calc(90px + 200px);
  }

  #nav-toggle:checked ~ .middle,
  #nav-toggle:checked ~ .end-right {
    right: 0;
  }

  .middle a {
    width: 100%;
    padding: 10px 0;
  }

  .end-right {
    flex-direction: column;
    gap: 12px;
  }
}

.floatingButton.left.next {
  position: fixed !important;
  bottom: 20px !important;
  left: 20px !important;
  height: 35px;
  width: 150px;
  background: blueviolet;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  z-index: 99999 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
  pointer-events: auto;
}

.href {
  color: white !important;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 0 10px;
  height: 100%;
}

.faq-item {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle {
  display: none;
}

.faq-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  color: #141414;
  cursor: pointer;
}

.faq-label::after {
  content: "+";
  position: relative;
  right: 0;
  font-size: 24px;
  color: #141414;
  transition: transform 0.3s ease;
}

.faq-toggle:checked + .faq-label::after {
  content: "-";
  transform: rotate(0deg);
}

.faq-content {
  line-height: 32px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  color: #141414;
  font-size: 16px;
  padding-right: 40px;
}

.faq-toggle:checked ~ .faq-content {
  max-height: 500px;
}

.sectionEight {
  background-image: url("./assets/background3.svg");
  background-position: cover;
  height: 299px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sectionEight h2 {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 32px;
}

.sectionEight button {
  height: 48px;
  border-radius: 100px;
  width: 200px;
  color: white;
  font-size: 16px;
  line-height: 12px;
}

footer{
  background-image: url("./assets/backgroundFooter.svg");
  background-position: cover;
  width: 100%;
  height: 565px;
  display: flex;
  padding: 85px 0;
  gap: 35px;
  justify-content: center;
  position: relative;
}

.footer-div{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
}

.footer-container{
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  gap: 32px;
  /* width: 40%; */
}

.footer-div ul{
 width: 179px;
gap: 25px;
}

.footer-div ul li{
color: #112232;
font-size: 16px;
line-height: 24px;
}

.specialone{
  color: #071827;
 font-size: 16px;
 line-height: 24px;
 font-weight: 700;
 padding-bottom: 8px;
}

.socials{
  display: flex;
  gap: 24px;
}

.footer-bottom{
  display: flex;
  gap: 8px;
  color: #112232;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  bottom: 20px;
  right: 70px;
}
