* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4b0d4;
    font-family: Arial, sans-serif;
}

.product-card {
    position: relative;
    background: white;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.badge {
    position: absolute;
    top: 20px;
    left: -10px;
    background-color: #fff9c4;
    padding: 8px 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.product-image {
    width: 100%;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-info{
  padding: 20px;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.product-info h2 span {
    font-weight: 500;
    color: #666;
    font-size: 14px;
}

.product-info p {
    color: #666;
    line-height: 1.1;
    font-size: 16px;
    font-weight: 600;
}

.floatingButton.right.next {
    position: fixed;
    bottom: 20px;
    right: 5%;
    height: 35px;
    width: 150px;
    background: blueviolet;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px
}

.floatingButton.left.next {
    position: fixed;
    bottom: 20px;
    left: 5%;
    height: 35px;
    width: 150px;
    background: blueviolet;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
}

.href {
    color: white !important;
    height: inherit;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .product-card {
        margin: 10px;
        border-radius: 15px;
    }

    .product-info h2 {
        font-size: 20px;
    }

    .product-info p {
        font-size: 14px;
    }

    .badge {
        font-size: 12px;
        padding: 4px 12px;
    }
    img{
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
}

@media (max-width: 480px) {
    .floatingButton.right.next,
    .floatingButton.left.next {
        width: 100px;
    }
}